* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}


body {
    background-image: url(https://i.ibb.co/rk7rfC6/nordwood-themes-R53t-Tg6-J4c-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}