
*, ::before, ::after {
  padding: 0;
  margin: 0;
}

body, html {
 
  box-sizing: border-box;
  height: 1000px;
  margin: 0;
}

#info {
  background-image: url(https://i.ibb.co/BPN6hhZ/backgroundsat.jpg);
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*position: absolute;
  top: 0;*/
}


#navs {
  display: block;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list {
  display: block;
  text-align: center;
  padding: 2em;
  font-size: 15px;
  gap: 2px;
  background-color: rgba(190, 190, 190, 0.2);
}

.list a {
  color: black;
}
.list a:hover {
  color: rgb(127, 127, 230);
}

.list a::after {
  color: black;
}

#myname {
  text-align: center;
  margin-top: 0.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 5em;
}

#info p {
  text-align: center;
  font-size: 2em;
  font-style: italic;
}

#profilepic {
  border-radius: 50%;
  margin: auto;
  padding: 15px;
  display: block;
  width: 400%;
  max-width: 40%;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 8em;
  margin-top: 0.2em;
  gap: 0.5em;
}

.socials i {
  color:rgba(177, 13, 13, 1);;
}

.socials i:hover {
  color:rgb(41, 43, 180);;
}

#contact {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

#contact h3 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 2em;
  text-align: center;
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 5%;
  padding: 0.5em;
  margin: 10px;
}

#contact h3:hover {
  background-color: rgba(240, 240, 240, 1);
}

#intro p {
  font-size: 1.5em;
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 1em;
  font-size: 2em;
}

#bottomhalf {
  position: relative;
  margin-top: 2em;
}
hr {
  display: block;
  width: 50%;
  align-items: center;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

#techs {
  font-size: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  margin-top: 0.2em;
  color:rgba(177, 13, 13, 1);
}

.projects {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding-top: 0.5em;
}
