body {
    background-color: rgba(208, 169, 125, 0.1);
    background-image: url(https://ibb.co/Jds8sT4);
    font-family: Arial, Helvetica, sans-serif;
}

#tophalf {
    background-image: url(https://i.ibb.co/bL7ZVp1/testpic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: grayscale(70%);
    max-width: 75rem;
    max-height: 75rem;
}



.top-nav {
    background-color: lightcoral;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

.formpart {
    background-color: aqua;
}

#myname {
    font-size: 30px;
}

#about-me > p {
    color: blue;
}

.profile-pic + p {
    font-size: 20px;
}

#box:checked + label {
    outline: 3px solid green;
}

nav:hover {
    font-size: 20px;
}

nav:visited {
    color: blue;
}

.infopic {
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 500px;
    /*object-fit: contain;*/
    margin-left: 0cm;
    padding-left: 0cm;
} 

a[data-anchor="social"] {
    color: red;
}

.caption {
    font-style: italic;
}